<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <sessionState mode="InProc" timeout="40"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <!--StudyBroad Info-->
    <add key="Title_Basic" value="StudyBroad | Website tư vấn du học số 1 Việt Nam"/>
    <add key="Meta_KeyWord" value="StudyBroad | Website tư vấn du học số 1 Việt Nam "/>
    <add key="Email_Support" value="studyabroad996@gmail.com"/>
    <add key="Address" value="số 5 đường Trường Chinh ,Thanh Bình Hải Dương"/>
    <add key="Domain" value="studyabroad.somee.com"/>
    <add key="Phone" value="+84 168 308 1609"/>
    <!--Facebook app Info-->
    <add key="ID_AppFacebook" value="180651449049460"/>
    <add key="ID_AppSecret" value="afa9447bd67a0e5b77e2ce51b2f689ab"/>
  </appSettings>
</configuration>